.ocean {
    height: 2%;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
        repeat-x;
    position: absolute;
    width: 6400px;
    top: -198px;
    left: 0;
    height: 198px;
    transform: translate(0, 0, 0);
    animation: wave 14s ease infinite;
}

.wave:nth-of-type(2) {
    top: -168px;
    animation: swell 14s ease infinite;
    opacity: 1;
}
.wave:nth-of-type(3) {
    top: -168px;
    animation: third 10s ease infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: -800px;
    }
    50% {
        margin-left: -1600px;
    }
    75% {
        margin-left: -800px;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes swell {
    0%,
    100% {
        transform: translate(0, -30px);
    }
    50% {
        transform: translate(0, 5px);
    }
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: -800px;
    }
    50% {
        margin-left: -1600px;
    }
    75% {
        margin-left: -800px;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes third {
    0%,
    100% {
        transform: translate(0, -30px);
        margin-left: 0;
    }
    50% {
        transform: translate(0, 5px);
        margin-left: -1600px;
    }
}
